@import "tailwindcss";

:root {
    --txt: #000000;
    --bg: #ffffff;
    --prm: #205295;
    --scd: #11A9C6;
    --acc1: #4ED8DF;
    --acc2: #2C74B3;
}

@theme inline {
    --color-text: var(--txt);
    --color-background: var(--bg);
    --color-primary: var(--prm);
    --color-secondary: var(--scd);
    --color-accent-1: var(--acc1);  
    --color-accent-2: var(--acc2); 
}

body {
    overflow-x: hidden;
}

* {
    font-family: "Manrope", sans-serif;
}