@import "tailwindcss";

* {
    font-family: "Manrope", sans-serif;
}

@theme {
    --color-black: #050315;
    --color-white: #FBFBFE;
    --color-primary: #205295;
    --color-secondary: #11A9C6;
    --color-accent: #4ED8DF;
}